<h1>Homes#show</h1>
<p>Find me in app/views/homes/show.html.erb</p>

제목:<%=@show.title%><br>
내용:<%=@show.content%><br>
작성자:<%=@show.name%><br>
비밀번호:<%=@show.password%><br>
<a href="/homes/index">초기화면으로 돌아가기</a>